@charset "utf-8";



body {
	background-color: #DCDCDC;
	background-image: url('img/telaFundo.jpg');
	margin-top: 50px;
}

#tabela{
	margin-top: 30px; 
}
#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;
}

#tabela td{
	border: 1px solid #ddd;
	padding: 10px;
}
.DDD {
	width: 50px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.CaixaTx {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.botao1{
	text-decoration: none;
	background-color: #0000FF;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size:1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}
.botao2{
	text-decoration: none;
	background-color: #FF0000;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size:1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}
.botao3{
	text-decoration: none;
	background-color: #FFA500;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size:1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}
