@charset "utf-8";


body {
	background-image: url('imagens/telaFundo.jpg');
	margin-top: 50px;
}

#tabela{
	margin-top: 30px; 
}
#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff;
}

#tabela td{
	border: 1px solid #ddd;
	padding: 10px;
}
.DDD {
	width: 50px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.CaixaTx {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}
